/* Responsive style */
@media (min-width: 1200px) {
	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.why-idea-wrap{
		padding: 50px 0px 0px 50px;
	}

	.why-idea{
		margin: 38px 0px;
	}

	.main-header{
		font-size: 40px;
	}

	.memeber-slider .ih-item.circle{
		width: 170px;
		height: 170px;
		margin:  0 auto;
	}

	.memeber-slider .ih-item.circle.effect1 .spinner{
		width: 180px;
		height: 180px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar{
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		background: #fff;
	}

	.navbar .navbar-nav .nav-link{
		color: #262626;
	}

	.navbar .btn-login{
		color:  #0072ff!important;
	}
	.navbar .job-upload .nav-link{
		color: #FC6600!important;
	}

	#header-banner:after,
	footer:after{
		height: 400px;
		width: 400px;
	}

	#header-banner .input-group{
		width: 100%;
	}

	.memeber-slider .ih-item.circle{
		width: 170px;
		height: 170px;
		margin:  0 auto;
	}

	.memeber-slider .ih-item.circle.effect1 .spinner{
		width: 180px;
		height: 180px;
	}

	.why-idea{
		margin: 35px 0px;
	}

	#about .col-md-6{
		margin-bottom: 20px;
	}

	.job-upload{
		margin: 0px;
	}

	.text-header,
	.main-header{
		font-size: 35px;
	}

	.text-header-content,
	.about-content{
		padding: 0px;
	}

	.why-idea-wrap{
		padding-top: 110px;
		padding-left: 0px;
	}

	.img-intro{
		margin-top: -25px;
	}

	.why-text{
		font-size: 17px;
	}

	footer .col-md-4 a{
		font-size: 13px;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar{
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		background: #fff;
	}

	.navbar .navbar-nav .nav-link{
		color: #262626;
	}

	.navbar .btn-login{
		color:  #0072ff!important;
	}
	.navbar .job-upload .nav-link{
		color: #FC6600!important;
	}

	#about .col-md-6{
		margin-bottom: 20px;
	}

	.job-upload{
		margin: 0px;
	}

	.text-header,
	.main-header{
		font-size: 40px;
	}

	.text-header-content,
	.about-content,
	.why-idea-wrap{
		padding: 0px;
	}

	.img-intro{
		animation: unset;
	}

	#header-banner .input-group{
		width: 100%;
	}

	footer .col-md-4{
		margin-bottom: 15px;
	}
}

@media (max-width: 420px) {
	.navbar{
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		background: #fff;
	}

	#header-banner .input-group{
		width: 100%;
	}

	.navbar .navbar-nav .nav-link{
		color: #262626;
	}

	.navbar .btn-login{
		color:  #0072ff!important;
	}
	.navbar .job-upload .nav-link{
		color: #FC6600!important;
	}

	.job-upload{
		margin: 0px;
	}

	.text-header,
	.main-header{
		font-size: 40px;
	}

	.text-header-content,
	.about-content,
	.why-idea-wrap{
		padding: 0px;
	}

	.img-intro{
		animation: unset;
	}

	footer .col-md-4{
		margin-bottom: 15px;
	}
}